.hero {
  padding: 60px 20px;
  text-align: center;
  background-color: black;
}

.hero h1 {
  font-size: 3rem;
  color: white;
}

.playstation-image {
   width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.layout{
  display: flex;
  min-height: 100vh;
}

.intro{
  flex: 1;
  padding: 40px;
  background-color: black;
}
.intro p, h2{
  color: white;
}

.sidebar a{
  text-decoration: none;
  color: white;
  font-size: 1.1;
  display: block;
  width: 100%;
  padding: 10px 5px;
}
.sidebar a:hover{
  color: blueviolet;
}
.sidebar{
  background-color:black
}