/*intro html of the website*/
body{
  background-color: #6b6e70;
}
.hero {
  padding: 60px 20px;
  text-align: center;
  background-color: black;
}

.hero h1 {
  font-size: 3rem;
  color: white;
}

.playstation-image {
   width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.layout{
  display: flex;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0;
}

.intro{
  flex: 1;
  padding: 40px;
  background-color: #000000;
}
.intro p, h2{
  color: white;
}

.sidebar a{
  text-decoration: none;
  color: white;
  font-size: 1.1;
  display: block;
  width: 100%;
  padding: 10px 5px;
}
.sidebar a:hover{
  color: #516e91;
}
.sidebar{
  background-color:black
}

/*games section of the website*/
body{
  background-color: #6b6e70;
}
.game{
  display: flex;
  gap: 24px;
  margin-bottom: 48px;
  align-items: center
}
.game-text{
  max-width: 600px;
}
.game img{
  width: 300px;
  height: auto;
  border-radius: 12px;
}
.game-two{
  flex-direction: row-reverse
}
h2{
  color: black;
  text-align: center;
}

/*feedback section of the website*/
.feedback-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
}
.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.form-row {
  display: flex;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

label {
  margin-bottom: 6px;
  font-weight: 600;
}

input,
textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-family: inherit;
}
button {
  width: fit-content;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.content{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}