/*intro html of the website*/
.hero {
  padding: 60px 20px;
  text-align: center;
  background-color: black;
}

.hero h1 {
  font-size: 3rem;
  color: white;
}

.playstation-image {
   width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.layout{
  display: flex;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0;
}

.intro{
  flex: 1;
  padding: 40px;
  background-color: #6b6e70;
}
.intro p, h2{
  color: white;
}

.sidebar a{
  text-decoration: none;
  color: white;
  font-size: 1.1;
  display: block;
  width: 100%;
  padding: 10px 5px;
}
.sidebar a:hover{
  color: #232F3E;
}
.sidebar{
  background-color:black
}

/*games section of the website*/
.game{
  display: flex;
  gap: 24px;
  margin-bottom: 48px;
  align-items: center
}
.game-text{
  max-width: 600px;
}
.game img{
  width: 300px;
  height: auto;
  border-radius: 12px;
}
.game-two{
  flex-direction: row-reverse
}
h2{
  color: black;
  text-align: center;
}

/*feedback section of the website*/